# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are presented as a practice work.

*Objectives:*
+ popular languages that Data Science
+ examples of evaluating arithmetic expressions
+ Data Science tools

*Objectives:*
+ popular languages that Data Science
+ examples of evaluating arithmetic expressions
+ Data Science tools

Some of the popular languages that Data Scientists are use:
1. Python
2. R
3. SQL
4. JAVA
5. Julia

Some of the popular languages that Data Scientists are use:
1. Python
2. R
3. SQL
4. JAVA
5. Julia

Some of the popular libraries that Data Scientists are use:
1. TensorFlow
2. Pandas
3. SciPy
4. Keras
5. NumPy

Some of the popular libraries that Data Scientists are use:
1. TensorFlow
2. Pandas
3. SciPy
4. Keras
5. NumPy

|Data Science Tools|
|-----|
|RStudio|
|Apache Spark|
|TenserFlow|
|Apache Hadoop|

|Data Science Tools|
|-----|
|RStudio|
|Apache Spark|
|TenserFlow|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
1+1

2

In [2]:
5/8

0.625

In [3]:
min(2, 8, 12)

2

## This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

## This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

## Author
Dénes Hullám

## Author
Dénes Hullám